<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="/img/fav-icon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='/css/index/index.css' />
    <link rel="stylesheet" href="/css/index/indexQueries.css" />
    <link rel="stylesheet" href="/css/alert.css" />
    <script defer src="/js/script.js"></script>
    <script defer src="/js/bundle.js"></script>
    <title>ApiVerse</title>
  </head>
  <body >
    <!-- Nav Bar -->
    <header class="header">
      <img src="/img/APiVerse.png" alt="Brand Logo" class="apiVerse-logo" />
      <nav class="nav-cnt">
        <ul class="nav-ul">
          <li><a href="#hero-nav" class="nav-link"  >Dashboard</a></li>
          <li><a href="#features-nav" class="nav-link">Features</a></li>
          <li><a href="#reviews-nav" class="nav-link">Reviews</a></li>
          <li><a href="#feedback-nav" class="nav-link">Feedback</a></li>
          <li><a href="/apiVerse/login" class="lp link-btn" id="login">Log in</a>
            <a href="/apiVerse/profile" class="lp link-btn profile " id="profile_">Profile</a>
          </li>
        </ul>
      </nav>
      <button class="btn-mobile-nav "><ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon name="close-outline" class="icon-mobile-nav"></ion-icon>
      </button>
    </header>

    <!-- Hero Section -->

    <main class="hero" id="hero-nav">
      <section class="container hero-main-cnt">
        <div class="first-col-cnt">
          <h1 class="tagline">
            Discover & Connect with, <span> Powerful APIs</span>
          </h1>
          <p>
            Welcome to apiVerse, your one-stop platform for accessing a wide
            range of APIs across various domains. Whether you're a developer,
            data scientist, or business, explore our comprehensive library of
            APIs and seamlessly integrate them into your projects.
          </p>
          <a href="/apiVerse/api" class="link-btn mr profile" id="explore">Explore</a>
          <a href="/apiVerse/login" class="link-btn mr" id="exploreLogin">Explore</a>
          <a href="#vision-nav" class="learn-more-btn" id="#learn-more">Learn more &darr;</a>
        </div>
        <div class="second-col-cnt">
          <img src="/img/index/hero-img.png" class="hero-image" />
        </div>
      </section>
    </main>

    <!-- Key Features -->

    <main id="features-nav">
      <section class="container feature-cnt">
        <h3 class="sub-heading">Our Key Features</h3>
        <h2 class="second-heading">Unlock API Potential with apiVerse</h2>
        <div class="step-cnt">
          <!-- step 1 -->
          <div class="step-text-box">
            <p class="step-number">01</p>
            <h3 class="heading-tertiary">Unified API Access</h3>
            <p class="step-description">
              Access a wide variety of APIs from different domains in one
              convenient platform. Simplify your workflow with a single sign-on
              and manage all your API integrations seamlessly.
            </p>
          </div>
          <div class="step-img-box">
            <img
              src="/img/index/f1.png"
              class="step-img"
              alt="iPhone app preferences selection secreen"
            />
          </div>

          <!-- Step 2 -->
          <div class="step-img-box">
            <img
              src="/img/index/f2.png"
              class="step-img"
              alt="iPhone app preferences selection secreen"
            />
          </div>
          <div class="step-text-box">
            <p class="step-number">02</p>
            <h3 class="heading-tertiary">Secure and Scalable</h3>
            <p class="step-description">
              Rely on our scalable infrastructure to handle increasing API calls
              and traffic. Enjoy peace of mind with secure authentication
              methods, including OAuth and API keys, ensuring your data is
              always protected.
            </p>
          </div>
          <!-- Step 3 -->
          <div class="step-text-box">
            <p class="step-number">03</p>
            <h3 class="heading-tertiary">High Performance and Reliability</h3>
            <p class="step-description">
              Enjoy fast, reliable API responses with our optimized
              infrastructure and 99.9% uptime guarantee. apiVerse ensures
              consistent, low-latency performance for seamless integration.
            </p>
          </div>
          <div class="step-img-box">
            <img
              src="/img/index/f3.png"
              class="step-img"
              alt="iPhone app preferences selection secreen"
            />
          </div>
          <!-- Step 4 -->
          <div class="step-img-box">
            <img
              src="/img/index/f4.png"
              class="step-img"
              alt="iPhone app preferences selection secreen"
            />
          </div>
          <div class="step-text-box">
            <p class="step-number">04</p>
            <h3 class="heading-tertiary">Seamless Connectivity</h3>
            <p class="step-description">
              Effortlessly connect with a diverse range of APIs through
              apiVerse's unified platform. Our seamless integration capabilities
              allow you to link multiple APIs and systems, simplifying your
              <!-- development process. Enhance your projects with reliable and
              consistent connections that make integrating various services
              quick and easy. -->
            </p>
          </div>
        </div>
      </section>
    </main>

    <!-- About us -->
    <main class="vision-main" id="vision-nav">
      <section class="container">
        <h3 class="sub-heading">Our Vision</h3>
        <h2 class="second-heading">Shaping the Future of API Integration</h2>
        <div class="desc-cnt">
          <div>
            <p class="vision-content">
              At apiVerse, our vision is to redefine how APIs are accessed and
              utilized, making integration seamless and intuitive for developers
              worldwide. We strive to be the leading platform that simplifies
              the complexities of API management, offering a comprehensive
              environment that enhances connectivity and fosters innovation.<br /><br />
              We are committed to providing cutting-edge tools and resources
              that empower developers to bring their ideas to life. By
              continuously advancing our technology and building a collaborative
              community, we aim to drive progress and shape the future of
              digital integration.
            </p>
          </div>
          <div class="vision-cnt">
            <img src="/img/index/vision.jpeg" class="vision" />
          </div>
        </div>
      </section>
    </main>

    <!-- Global Access -->
    <main>
      <section class="container">
        <h3 class="sub-heading">Global Access</h3>
        <h2 class="second-heading">Connecting APIs, Connecting World</h2>
        <div class="map-cnt">
          <div>
            <p class="map-content">
              Access APIs from anywhere in the world with apiVerse's globally distributed infrastructure. Our platform ensures fast and reliable connectivity, allowing you to integrate APIs effortlessly, regardless of your location. Reach a global audience and scale your applications with ease.
            </p>
          </div>
          <div class="map-img-cnt">
            <img src="/img/index/map.png" class="map" />
          </div>
      </section>
    </main>
    <!-- Reviews -->
     <main class="reviews" id="reviews-nav">
      <section class="container">
        <h3 class="sub-heading">Reviews</h3>
        <h2 class="second-heading">What Our Users Are Saying</h2>
        <div class="reviews-cnt">
          <!-- <div class="review first">
            <p class="review-text">
              apiVerse made API integration effortless with its intuitive
               platform and excellent support. Highly recommended
            </p>
            <span class="review-text name">Riya</span>
          </div>
          <div class="review first">
            <p class="review-text">
              apiVerse made API integration effortless with its intuitive
               platform and excellent support. Highly recommended
            </p>
            <span class="review-text name">Riya</span>
          </div>
          <div class="review last">
            <p class="review-text">
              apiVerse made API integration effortless with its intuitive
               platform and excellent support. Highly recommended
            </p>
            <span class="review-text name">Riya</span>
          </div>
          <div class="review last">
            <p class="review-text">
              apiVerse made API integration effortless with its intuitive
               platform and excellent support. Highly recommended
            </p>
            <span class="review-text name">Riya</span>
          </div> -->
        </div>        
        </div>
      </section>
     </main>

     <!-- Review Form -->
     <main id="feedback-nav">
      <section class="feedback-sec">
      
        <div class="container">
          <div class="cta-cnt">
            <div class="cta-content-cnt">
              <h1 class="cta-heading cta-mb">
                Share Your Feedback
              </h1>
              <p class="cta-desc">
                Leave a short Review and Share Your Experience.
              </p>              
              <div class="cta-input-cnt">
                <form  class="cta-form">
                  <div>
                    <label for="fullname">Full Name</label>
                    <input
                      type="text"
                      name="fullName"
                      id="fullName"
                      placeholder="Username"
                      required
                    />
                  </div>
                  <div>
                    <label for="feedback">Your Feedback</label>
                    <input
                      type="text"
                      name="feedback"
                      id="feedback"
                      placeholder="Feedback"
                      required
                    />
                  </div>   
                  <div class="cta-btn-cnt">               
                  <button class="cta-btn">Submit</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="cta-img-cnt">
                         </div>
          </div>
        </div>
      </section>

      <!-- Footer -->
       <main>
        <section class="footer-section" id="section-footer">
          <div class="container footer-cnt">
            <div class="logo-col">
              <a href="#hero-nav" class="footer-logo">
                <img class="logo" alt=apiVerse logo" src="/img/apiVerse.png"/>        
              </a>
              <ul class="social-links">
                <li>
                  <a class="footer-link" href="#"
                    ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
                  ></a>
                </li>
                <li>
                  <a class="footer-link" href="#"
                    ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
                  ></a>
                </li>
                <li>
                  <a class="footer-link" href="#"
                    ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
                  ></a>
                </li>
              </ul>
              <p class="copyright">Copyright &copy; 2027 by apiVerse(Vaibhav Kumawat), Inc. All right reserved.</p>
            </div>
            <div class="address-col">
              <p class="footer-heading">Contact us</p>
              <address class="contacts">
                <p class="address"> Jaipur,Rajasthan</p>
                <p>
                  <a class="footer-link" href="tel:7232842880">7232842880</a><br>
                  <a  class="footer-link" href="mailto:apiVerse3003@gmail.com">apiVerse3003@gmail.com.com</a>
                </p>
              </address>
            </div>
            <nav class="nav-col">
              <p class="footer-heading">Account</p>
              <ul class="footer-nav">
                <li><a class="footer-link" href="#">Create account</a></li>
                <li><a class="footer-link" href="#">Sign in</a></li>        
              </ul>
            </nav>
            <nav class="nav-col">
              <p class="footer-heading">Company</p>
              <ul class="footer-nav">
                <li><a class="footer-link" href="#">About apiVerse</a></li>
                <li><a class="footer-link" href="#">For Business</a></li>             
              </ul>
            </nav>
        
            <nav class="nav-col">
              <p class="footer-heading">Resources</p>
              <ul class="footer-nav">
                <li><a class="footer-link" href="#">Recipe directory </a></li>
                <li><a class="footer-link" href="#">Help center</a></li>
                <li><a class="footer-link" href="#">Privacy & terms</a></li>
              </ul>
            </nav>
          </div>
        </section>
       </main>
       <div class="modal hidden">
        <button class="close-modal">&times;</button>
        <h1 class="modal-heading">Something Went Wrong💥</h1>
        <p class="modal-text">.</p>
        </p>
      </div>
      <div class="overlay hidden"></div>
       <script
       type="module"
       src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
     ></script>
     <script
       nomodule
       src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
     ></script>
  </body>
</html>
