<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="/img/fav-icon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/login/login.css" />
    <link rel="stylesheet" href="/css/login/loginQueries.css" />
    <script defer src="/js/bundle.js"></script>
    <title>ApiVerse | Login</title>
  </head>
  <body>
    <header class="header">
      <img src="/img/APiVerse.png" class="apiVerse-logo" />
      <nav></nav>
    </header>
    <section>
      <div class="container page-cnt">
        <h2 class="tagline">Connecting APIs, <span>Connecting World</span></h2>
        <form class="form-cnt">
          <input id="login-email" type="email" placeholder="Email" required />

          <input
            id="login-password"
            type="password"
            placeholder="Password"
            required
          />
          <input
            type="submit"
            class="submit-btn"
            id="login-btn"
            value="Log in"
          />
        </form>
        <a href="/apiVerse/forgotPassword" class="forgot">Forgot Password</a>
        <span class="text-p">
          Create a new account.
          <a href="/apiVerse/signup" class="signup-class">Sign Up</a>
        </span>
      </div>
    </section>

    <div class="modal hidden">
      <button class="close-modal">&times;</button>
      <h1 class="modal-heading">Something Went Wrong💥</h1>
      <p class="modal-text">.</p>
      </p>
    </div>
    <div class="overlay hidden"></div>
  </body>
</html>
